#board {
    display: block;
  }

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

*{
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  
}

button {
  background-color: rgb(82, 186, 179);
  border-radius: 9px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 13px;
  text-transform: uppercase;
  width: 200px;
  cursor: pointer;
  
}
#placeholder {
  height: 60px;
  width: 55px;
  padding: 50px;
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;  
  font-size:75px;
  
}


#test {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#testheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #21f33d;
  color: #fff;
}

img{

width:43%;
position: relative;
left: 28%;

}








